<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="font2/css/all.css">
    <title>Tdodo-list</title>
</head>
<body>
    <div id="root">
      <div class="containerTodo">
          <section id="utente">
               <label for="newTodo">Cosa vuoi aggiungere alla tua lista ?</label> <br>
               <input v-model="newTodo" type="text" name="newTodo" placeholder="aggiungi qualcosa alla tua lista" id="newTodo">
               <button @click="aggiungi">aggiungi</button>
               <button @click="cancella(index)" id="cancella">cancella tutto</button>
          </section>

          <main>
            <div class="left">
                  <h2 :class="(lista.length>0)?'si':'no'">la tua lista </h2>
                    <ul>
                        <li v-for="(el, index) in lista">{{el}}<i @click="sospeso(index)" id="sospeso" class="fa-solid fa-clock" style="color: #ea4a0b;"></i> <i id="nonFatto" class="fa-solid fa-trash" @click="remove(index)" style="color: #f4be2a;"></i> <i @click="add(index)" id="fatto" class="fa-solid fa-check" style="color: #81c34b;"></i></li>
                    </ul>
                    <div :class="(lista.length ==0)?'si':'no'" class="bravo">
                        <h3 id="res"> LISTA VUOTA !! INSERISCI QUALCOSA</h3>
                    </div>
            </div>
            <div class="right">
                <div class="boxTodo fatti">
                    <div class="titoloBox">HAI COMPLETATO QUESTI PUNTI</div>

                    <ul>
                        <li v-for="(fatto, index) in fatti">{{fatto}}</li>
                    </ul>
                </div>


                <div class="boxTodo nonFatti">
                    <div class="titoloBox">NON HAI FATTO QUESTI PUNTI</div>
                    <ul>
                        <li v-for="(not, index) in nonFatti">{{not}}</li>
                    </ul>
                    
                </div>


                <div class="boxTodo sospesi">
                    <div class="titoloBox">HAI SOSPESO QUESTI PUNTI</div>
                    <ul>
                        <li v-for="(sospeso, index) in sospesi">{{sospeso}}</li>
                    </ul>
                </div>

            </div>
          </main>


          
      </div>

    </div>

    <script src="main.js"></script>
</body>
</html>